body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 120px;  
    margin-bottom: 120px;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.cuadro {
    background: #eaeaea;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

a {
    display: block;
    width: 70%;
    padding: 12px;
    margin-top: 10px;
    background-color: #0084ff;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    text-decoration: none;   
    cursor: pointer;
    transition: background 0.2s;
    margin-left: auto;
    margin-right: auto;
    background-color: #0084ff;
}

a:hover {
    background-color: #006ed1;
}


.bottombar {
    width: 100%;
   background-color: #0084ff;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.topbar {
    width: 100%;
    background-color: #0084ff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.icon-left img {
    width: 40px;
    height: 40px;
}

.user-circle {
    width: 40px;
    height: 40px;
    background-color: #4ade80;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000;
}
