<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Correo</title>
    <link rel="stylesheet" href="../css/cambiar.css">
</head>
<body>

    <div class="topbar">
        <div class="icon-left">

            <img src="../img/Carritodcompras.png" alt="Carrito">
        </div>

        
    </div>

    <div class="contenedor">
        <h2>Cambiar Correo</h2>

        <div class="campo">
            <label>Correo Actual:</label>
            <input type="email">
        </div>

        <div class="campo">
            <label>Nuevo Correo:</label>
            <input type="email">
        </div>

        <div class="campo">
            <label>Confirmar Nuevo Correo:</label>
            <input type="email">
        </div>

        <a href="./index.ejs" class="btn">Guardar</a>
        <a href="./usuario.ejs" class="btn">Regresar</a>
    </div>

    <div class="bottombar"></div>
</body>
</html>