<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos de Pago</title>
    <link rel="stylesheet" href="../css/metodospago.css">
</head>
<body>
    <div class="topbar">
        <div class="topbar-left">
            <a href="#" class="cart-container">
                <img src="/img/Carritoicono.png" alt="Carrito" class="cart-icon" id="cart-icon">
            </a>
        </div>
        <div class="topbar-center">
            <a href="/principal" class="brand-title">QUESOS BABYBEL</a>
        </div>
        <div class="topbar-right">
            <a href="/usuario" class="user-circle">U</a>
        </div>
    </div>

    <div class="container">
        <h2>Métodos de Pago</h2>
        <p>Selecciona tu banco:</p>

        <div class="payment-options">
            <div class="bank-option">
                <a href="/datosbanc">
                    <img src="../img/BBVA.png" alt="BBVA">
                    <span>BBVA</span>
                </a>
            </div>
            <div class="bank-option">
                <a href="/datosbanc">
                    <img src="../img/SANTANDER.png" alt="Santander">
                    <span>Santander</span>
                </a>
            </div>
            <div class="bank-option">
                <a href="/datosbanc">
                    <img src="../img/BANORTE.png" alt="Banorte">
                    <span>Banorte</span>
                </a>
            </div>
            <div class="bank-option">
                <a href="/datosbanc">
                    <img src="../img/BANCO AZTECA.png" alt="Banco Azteca">
                    <span>Banco Azteca</span>
                </a>
            </div>
        </div>

        <div class="more-options">
            <p>¿No aparece tu banco? <a href="../views/metodospago.ejs">Haz clic aquí para más opciones</a></p>
        </div>
    </div>
</body>
</html>
