<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="../css/principal.css">
</head>
<body>
    <div class="topbar">
        <a href="/login">Iniciar sesión</a>
        <a href="/crearCuenta">Crear cuenta</a>
    </div>

    <div class="container">
        <h1>Bienvenido al carrito de compras</h1>
        <img src="../img/Carritodcompras.png" alt="Carrito de Compras">
    </div>

</body>
</html>