<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket de Compra</title>
    <link rel="stylesheet" href="../css/ticket.css">
</head>
<body>
    <div class="container">
        <h2>Ticket de Compra</h2>

        <div class="info-box">
            <div class="section-title">Producto:
                <div class="producto-item">
                    <img src="../img/babybel-original.png" alt="Mini Babybel" class="producto-img">
                    <p class="producto-nombre">Mini Babybel Mozzarella</p>
                </div>
            </div>
            
        </div>

        <div class="info-box">
            <div class="section-title">Precio:</div>
            $49
        </div>

        <div class="total">
            Total: $49
        </div>

        <a href="./index.ejs" class="button" onclick="comprar()">Comprar</a>

        <a href="../views/index.ejs" class="button">Regresar</a>
        
    </div>
</body>
</html>