<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Usuario</title>
    <link rel="stylesheet" href="../css/usuario.css">
</head>
<body>
    <div class="topbar">
        <div class="icon-left">

            <img src="../img/Carritodcompras.png" alt="Carrito">
        </div>

        
    </div>

    <div class="contenedor">
        <h2>Información del Usuario</h2>

        <div class="campo">
            <label>Nombre:</label>
            <div class="cuadro">Juan Pérez</div>
        </div>

        <div class="campo">
            <label>Correo:</label>
            <div class="cuadro">juan@gmail.com</div>
        </div>

        <a href="./cambContra.ejs">Cambiar Contraseña</a>
        <a href="./cambCorreo.ejs">Cambiar Correo</a>
        <a href="./index.ejs">Regresar</a>
    </div>

    <div class="bottombar"></div>
</body>
</html>